.container
  .hero-unit
    %h1 Welcome to CSRA!
    %p Computer Science Research Alliance (CSRA) is a non-profit student organization in Binghamton University. Our primary goal is helping university faculty members with their research through developing software to meet their needs.
    %p
      %a.btn.btn-primary.btn-large{:href => "register"} Join us